Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

format-lua:
  name: format-lua
  entry: xmake run format-lua
  language: system
  pass_filenames: false

lsp-check-lua:
  name: lsp-check-lua
  entry: xmake run lsp-check-lua
  language: system
  pass_filenames: false

format-cpp:
  name: format-cpp
  entry: xmake run format-cpp
  language: system
  pass_filenames: false

feat: add join_any for jfork tasks
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

docs: update feature delivery rules
  AGENTS.md
Due: none

feat: add scoped task groups
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

refactor: use table argument for join_any
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

fix: resolve multiple Lua runtime bugs
  CHANGELOG.md
  src/gen/gen_chdl_access.lua
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/init.lua
  tests/test_bitvec_signal/main.lua
Due: format-lua, lsp-check-lua

refactor: modularize chdl access generator
  AGENTS.md
  DEVELOPMENT.md
  src/gen/gen_chdl_access.lua
  src/gen/gen_chdl_access.sh
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/gen/gen_chdl_single.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
Due: format-lua, lsp-check-lua

feat(chdl): auto-dispatch multibeat setters by value type
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  src/gen/gen_chdl_access.lua
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  tests/benchmarks/cases/signal_operation.lua
Due: format-lua, lsp-check-lua

perf: avoid eager chdl assert messages
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
Due: format-lua, lsp-check-lua

fix: stabilize verilua rule path resolution
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

docs: update changelog for verilua xmake fix [skip-ci]
  CHANGELOG.md
Due: none

docs: add LuaUtils reference
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/lua_utils.mdx
Due: none

chore: update wellen dependency
  Cargo.lock
  src/wave_vpi/wellen_impl/Cargo.toml
  src/wave_vpi/wellen_impl/src/lib.rs
Due: none

fix: stringify missing enum values [skip-ci]
  src/lua/verilua/LuaUtils.lua
Due: format-lua, lsp-check-lua

fix: free edge callback user data
  libverilua/src/vpi_callback.rs
Due: none

fix: ignore XZ edge callback values
  CHANGELOG.md
  libverilua/src/vpi_callback.rs
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix: keep string put values alive
  CHANGELOG.md
  libverilua/src/verilua_env.rs
Due: none

fix: clear scalar vector upper words
  CHANGELOG.md
  libverilua/src/vpi_access/value_setters.rs
Due: none

fix: avoid native clock callback use-after-free
  CHANGELOG.md
  libverilua/src/native_clock.rs
Due: none

fix(libverilua): use vpiReleaseFlag instead of vpiInertialDelay in vpiml_release_value inertial_put path
  libverilua/src/vpi_access/value_setters.rs
Due: none

fix(libverilua): handle wide value64 writes and X/Z edges
  CHANGELOG.md
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/vpi_access/value_setters.rs
Due: format-lua, lsp-check-lua

build: upgrade slang to v10.0 and inline slang_common
  .github/workflows/regression.yml
  .gitmodules
  AGENTS.md
  conanfile.py
  scripts/.xmake/rules/verilua/xmake.lua
  scripts/conan/slang/conanfile.py
  scripts/patches/0001-fix-lintmode-crash.patch
  scripts/patches/0002-allow-overwrite-positional.patch
  scripts/patches/0003-allow-overwrite-cmdline-args.patch
  scripts/patches/0004-skip-expanded-line-file-directives.patch
  src/cov_exporter/cov_exporter.cpp
  src/cov_exporter/include/cov_exporter.h
  src/cov_exporter/include/cov_info_getter.h
  src/dpi_exporter/include/exporter_rewriter.h
  src/dpi_exporter/include/signal_info_getter.h
  src/dpi_exporter/xmake.lua
  src/signal_db_gen/signal_db_gen.cpp
  src/signal_db_gen/xmake.lua
  src/slang_common/SemanticModel.cpp
  src/slang_common/SemanticModel.h
  src/slang_common/SlangCommon.cpp
  src/slang_common/SlangCommon.h
  src/testbench_gen/xmake.lua
  tests/test_cov_exporter/golden/basic_top.sv
  tests/test_cov_exporter/golden/disable_signal_top.sv
  tests/test_cov_exporter/golden/no_sep_always_top.sv
  tests/test_set_imm/main.lua
  tests/test_set_imm/top.v
  tests/test_set_imm/xmake.lua
  tests/test_slang_common/test_slang_common.cpp
  tests/test_slang_common/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

chore(deps): bump vulnerable deps to clear dependabot alerts [skip-ci]
  Cargo.lock
  docs-website/package-lock.json
  docs-website/package.json
Due: none

feat: add Cross combinatorics utilities
  CHANGELOG.md
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/cross.mdx
  src/lua/verilua/Cross.lua
  tests/test_cross.lua
Due: format-lua, lsp-check-lua

fix: dynamically drain task group joins
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

fix: reject non-owner task group joins
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

docs: clarify task group fork tracking
  docs/reference/multi_task.mdx
Due: none

fix: report scheduler task context errors
  CHANGELOG.md
  docs/reference/multi_task.mdx
  src/lua/verilua/init.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

test: expand guided tour task scheduling coverage
  examples/guided_tour/main.lua
Due: format-lua, lsp-check-lua

docs: add Cross stimulus generation guide
  docs-website/sidebars.ts
  docs/how-to-guides/cross_stimulus_generation.mdx
  docs/reference/cross.mdx
  src/lua/verilua/Cross.lua
Due: format-lua, lsp-check-lua

feat: add configurable Cross sampling attempts
  docs/reference/cross.mdx
  src/lua/verilua/Cross.lua
  tests/test_cross.lua
Due: format-lua, lsp-check-lua

docs: add Lua zero-truthiness pitfall and Bundle vs AliasBundle selection guide
  docs/how-to-guides/common_lua_pitfalls.mdx
  docs/reference/data_structure/bundle.mdx
Due: none

docs(cross): clarify filter/sample/unique semantics with detailed examples
  docs/reference/cross.mdx
Due: none

docs(how-to): add guide for calling C functions from Lua
  docs-website/sidebars.ts
  docs/how-to-guides/call_c_functions.mdx
  docs/navigation.mdx
  docs/reference/symbol_helper.mdx
  tests/test_symbol_helper/dpic.cpp
  tests/test_symbol_helper/ext_lib.c
  tests/test_symbol_helper/main.lua
  tests/test_symbol_helper/top.sv
  tests/test_symbol_helper/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

feat(LuaUtils): add get_scriptdir() for locating calling script directory
  CHANGELOG.md
  docs/reference/lua_utils.mdx
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

feat(cov_exporter): switch conditional coverage to control-flow path counting
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
  src/cov_exporter/cov_exporter.cpp
  src/cov_exporter/include/cov_exporter.h
  src/cov_exporter/include/cov_info_getter.h
  src/cov_exporter/include/cov_info_writter.h
  src/lua/meta.lua
  tests/benchmarks/README.md
  tests/test_cov_exporter/cond_path_top.sv
  tests/test_cov_exporter/cond_path_unsupported_top.sv
  tests/test_cov_exporter/cov_bench_top.sv
  tests/test_cov_exporter/cov_overhead.lua
  tests/test_cov_exporter/golden/basic_top.sv
  tests/test_cov_exporter/golden/cond_path_top.sv
  tests/test_cov_exporter/golden/disable_signal_top.sv
  tests/test_cov_exporter/golden/no_sep_always_top.sv
  tests/test_cov_exporter/golden/unsupported_top.sv
  tests/test_cov_exporter/xmake.lua
  tests/test_cov_exporter_dynamic/cond_path_top.sv
  tests/test_cov_exporter_dynamic/main.lua
  tests/test_cov_exporter_dynamic/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

docs: add simulator default flags reference page
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/simulator_default_flags.mdx
  docs/reference/xmake_params.mdx
Due: none

feat(sva): add sv_lint integration, namespace refs (seq:/prop:), and rename testbench_gen inject flags
  AGENTS.md
  CHANGELOG.md
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/sva_generate.mdx
  docs/reference/testbench_generate.mdx
  src/lua/verilua/sva/SVAContext.lua
  src/lua/verilua/sva/SVATemplate.lua
  src/sv_lint/main.cpp
  src/sv_lint/sv_lint_core.h
  src/sv_lint/sv_lint_lib.cpp
  src/sv_lint/xmake.lua
  src/testbench_gen/testbench_gen.cpp
  tests/test_sva_gen.lua
  tests/test_testbench_gen/golden/top_ansi_tb_top.sv
  tests/test_testbench_gen/golden/top_clock_variants_tb_top.sv
  tests/test_testbench_gen/golden/top_non_ansi_tb_top.sv
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

refactor(signal_db_gen): split into header-only core, binary, and shared lib
  src/signal_db_gen/main.cpp
  src/signal_db_gen/signal_db_gen_core.h
  src/signal_db_gen/signal_db_gen_lib.cpp
  src/signal_db_gen/xmake.lua
  src/sv_lint/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

ci: add libsv_lint build step to regression and release workflows
  .github/workflows/regression.yml
  .github/workflows/release.yml
  src/sv_lint/xmake.lua
Due: format-lua, lsp-check-lua

Path conditions:
  format-lua: any of: \.(lua)$
  lsp-check-lua: any of: \.(lua)$
  format-cpp: any of: \.(cpp|hpp|h|c)$
