Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

feat(sv): rename SVAContext→SVBuilder, add covergroup support, surface warnings in sv_lint
  CHANGELOG.md
  activate_verilua.sh
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  src/lua/verilua/sv/SVTemplate.lua
  src/sv_lint/sv_lint_core.h
  tests/test_sv_builder.lua
  tests/test_sva_gen.lua
Due: format-lua, lsp-check-lua, format-cpp

feat: add decl-only SymbolHelper try_ffi_cast
  CHANGELOG.md
  docs/how-to-guides/call_c_functions.mdx
  docs/reference/symbol_helper.mdx
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/LuaUtils.lua
  src/lua/verilua/utils/DpiExporter.lua
  src/lua/verilua/utils/SymbolHelper.lua
  src/lua/verilua/utils/WaveVpiCtrl.lua
  tests/test_dpic/main.lua
  tests/test_symbol_helper/ext_lib.c
  tests/test_symbol_helper/main.lua
  tests/test_symbol_helper/xmake.lua
  tests/test_symbol_helper_parse.lua
Due: format-lua, lsp-check-lua, format-cpp

feat: add Cross product_call
  CHANGELOG.md
  docs/reference/cross.mdx
  docs/reference/lua_utils.mdx
  src/lua/verilua/Cross.lua
  src/lua/verilua/LuaUtils.lua
  tests/test_cross.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

feat: extend LuaUtils env defaults and random helpers
  CHANGELOG.md
  docs/reference/lua_utils.mdx
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

fix: seed random before user config load
  CHANGELOG.md
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/init.lua
Due: format-lua, lsp-check-lua

feat(LuaUtils): add deepcopy() with cycle handling and metatable preservation
  CHANGELOG.md
  docs/reference/lua_utils.mdx
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

docs: clarify deferred HDL set semantics
  CHANGELOG.md
  docs/getting-started/simple_hvl_example.mdx
  docs/reference/data_structure/callable_hdl.mdx
Due: none

fix: re-flush cbReadWriteSynch for post-flush set() calls
  CHANGELOG.md
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
  tests/test_comb_1/main.lua
  tests/test_issue11/main.lua
  tests/test_issue11/top.v
  tests/test_issue11/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

chore: update CHANGELOG.md [skip-ci]
  CHANGELOG.md
Due: none

fix(rules): add deps to package.path before loading user_cfg
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

refactor(env): rename CFG_USE_INERTIAL_PUT to VL_USE_INERTIAL_PUT [skip-ci]
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
  tests/test_no_internal_clock/main.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat: add AliasBundle fields [skip-ci]
  CHANGELOG.md
  docs/reference/data_structure/alias_bundle.mdx
  src/lua/verilua/handles/LuaAliasBundle.lua
Due: format-lua, lsp-check-lua

fix: also seed C library random number generator
  src/lua/verilua/LuaSimConfig.lua
Due: format-lua, lsp-check-lua

fix(fake_chdl): add fields field to match CallableHDL interface [skip-ci]
  src/lua/verilua/ext/stringx.lua
  tests/test_handles/main.lua
Due: format-lua, lsp-check-lua

chore: release v3.4.0
  CHANGELOG.md
Due: none

fix: typo in iverilog shared library detection string [skip-ci]
  libverilua/src/utils/mod.rs
Due: none

fix: flush pending puts before await_rw resumes
  CHANGELOG.md
  libverilua/src/vpi_callback.rs
  tests/test_rw_flush/main.lua
  tests/test_rw_flush/top.sv
  tests/test_rw_flush/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix: handle re-entrant pending put dedup
  CHANGELOG.md
  libverilua/src/complex_handle.rs
  libverilua/src/vpi_access/value_setters.rs
  tests/test_rw_reflush_panic/main.lua
  tests/test_rw_reflush_panic/top.sv
  tests/test_rw_reflush_panic/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix: reject HDL writes during read-only phase
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/vpi_access/value_setters.rs
  libverilua/src/vpi_callback.rs
  tests/test_readonly_write_error/main.lua
  tests/test_readonly_write_error/top.v
  tests/test_readonly_write_error/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

perf: optimize libverilua edge callbacks
  CHANGELOG.md
  Cargo.lock
  libverilua/Cargo.toml
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_callback_policy.rs
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
Due: format-lua, lsp-check-lua

chore(deps): bump hashbrown to 0.17, loosen mimalloc to 0.1
  Cargo.lock
  libverilua/Cargo.toml
Due: none

fix: defer await_rw() wakeup until combinational fanout settles
  CHANGELOG.md
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/verilator_helper.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
  src/verilator/verilator_main.cpp
  tests/test_await_rw_corner/main.lua
  tests/test_await_rw_corner/top.sv
  tests/test_await_rw_corner/xmake.lua
  tests/test_comb_await_rw/main.lua
  tests/test_comb_await_rw/top.sv
  tests/test_comb_await_rw/xmake.lua
  tests/test_rw_reflush_panic/main.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

docs(libverilua): update NativeClock diagram, fix vlog_startup_routines comment, and fix typo [skip-ci]
  libverilua/src/lib.rs
  libverilua/src/native_clock.rs
  libverilua/src/verilator_helper.rs
Due: none

docs: add combinational logic guide and example, register await_rw/await_rd tests
  docs-website/sidebars.ts
  docs/how-to-guides/combinational_logic.mdx
  docs/navigation.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  examples/combinational_logic/README.md
  examples/combinational_logic/main.lua
  examples/combinational_logic/top.sv
  examples/combinational_logic/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

chore: sync release version metadata [skip-ci]
  AGENTS.md
  VERSION
Due: none

docs(install): add hint for sourcing verilua.sh in bashrc/zshrc
  docs/getting-started/install.mdx
Due: none

fix(libverilua): gate CallbackInfo import behind not(chunk_task) feature [skip-ci]
  libverilua/src/verilua_env.rs
Due: none

fix: correct uint_to_onehot for 64-bit bit positions
  CHANGELOG.md
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

fix: correct LuaUtils to64bit conversion [skip-ci]
  CHANGELOG.md
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

fix: preserve IDPool state on empty allocation [skip-ci]
  CHANGELOG.md
  src/lua/verilua/utils/IDPool.lua
  tests/test_idpool.lua
Due: format-lua, lsp-check-lua

fix(libverilua): cache indexed VPI handles
  CHANGELOG.md
  libverilua/src/vpi_access/handle_getters.rs
  tests/test_handles/main.lua
Due: format-lua, lsp-check-lua

fix: own cached VPI handle names
  CHANGELOG.md
  libverilua/src/vpi_access/handle_getters.rs
  tests/test_handles/main.lua
Due: format-lua, lsp-check-lua

fix(IDPool): honor IDPool shuffle setting [skip-ci]
  CHANGELOG.md
  src/lua/verilua/utils/IDPool.lua
  tests/test_idpool.lua
Due: format-lua, lsp-check-lua

fix(libverilua): bound hierarchy cache allocation
  CHANGELOG.md
  libverilua/src/vpi_access/hierarchy_collect.rs
Due: none

fix(StaticQueue): reject non-positive StaticQueue size
  CHANGELOG.md
  src/lua/verilua/utils/AgeStaticQueue.lua
  src/lua/verilua/utils/StaticQueue.lua
  tests/test_age_static_queue.lua
  tests/test_static_queue.lua
Due: format-lua, lsp-check-lua

fix: SubBitVec dump uses field value
  CHANGELOG.md
  src/lua/verilua/utils/BitVec.lua
  tests/test_bitvec.lua
Due: format-lua, lsp-check-lua

docs(LuaUtils): clarify str_group_by param and second return
  src/lua/verilua/LuaUtils.lua
Due: format-lua, lsp-check-lua

fix(LuaUtils): honor execute_after times=0
  CHANGELOG.md
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

fix(LuaUtils): safe enum_search not-found message
  CHANGELOG.md
  src/lua/verilua/LuaUtils.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

fix(LuaUtils): release exclusive_call lock on error
  CHANGELOG.md
  src/lua/verilua/LuaUtils.lua
Due: format-lua, lsp-check-lua
