Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

docs: update multi_task.mdx
  docs/reference/multi_task.mdx
Due: none

refactor: remove LuaPanda debugger setup from init.lua and clean up paths in activate_verilua.sh
  activate_verilua.sh
  src/lua/verilua/init.lua
Due: format-lua, lsp-check-lua

fix(libverilua): filter out empty paths in LD_LIBRARY_PATH for linking
  libverilua/build.rs
Due: none

fix(libverilua): move cbNextSimTime registration to start_callback
  libverilua/src/lib.rs
  libverilua/src/vpi_callback.rs
Due: none

docs: add symbol_helper.mdx
  docs-website/sidebars.ts
  docs/reference/symbol_helper.mdx
Due: none

refactor: replace _G.VERILUA_GOT_ERROR with verilua.record_error()
  src/gen/gen_scheduler.lua
  src/lua/meta.lua
  src/lua/verilua/Verilua.lua
  src/lua/verilua/init.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
Due: format-lua, lsp-check-lua

feat(scheduler): add get_curr_task_id/get_curr_task_name APIs
  CHANGELOG.md
  src/gen/gen_scheduler.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaScheduler.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

chore: update CHANGELOG.md [skip-ci]
  CHANGELOG.md
Due: none

refactor(scheduler): replace yield-type dispatch with direct vpiml callback registration
  src/gen/gen_scheduler.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/init.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaScheduler.lua
  src/lua/verilua/scheduler/LuaSchedulerCommonV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
Due: format-lua, lsp-check-lua

refactor(activate_verilua): use symlink for luafun instead of LUA_PATH entry
  activate_verilua.sh
  src/lua/thirdparty_lib/fun.lua
Due: format-lua, lsp-check-lua

feat(guided_tour): add EventHandle, time APIs, and scheduler demos
  examples/guided_tour/main.lua
Due: format-lua, lsp-check-lua

refactor(libverilua): replace unwrap with unwrap_unchecked for performance optimization
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
Due: none

feat: add high-performance native clock driver
  CHANGELOG.md
  docs-website/sidebars.ts
  docs/how-to-guides/clock_driving.mdx
  docs/reference/native_clock.mdx
  libverilua/src/lib.rs
  libverilua/src/native_clock.rs
  libverilua/src/vpi_callback.rs
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/utils/NativeClock.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  src/lua/verilua/vpiml/vpiml.lua
  tests/test_native_clock/main.lua
  tests/test_native_clock/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(examples): add async queue examples for Lua/NativeClock clock drivers
  examples/async_queue_lua/async_queue.sv
  examples/async_queue_lua/main.lua
  examples/async_queue_lua/xmake.lua
  examples/async_queue_native/async_queue.sv
  examples/async_queue_native/main.lua
  examples/async_queue_native/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(WaveVpiCtrl): add time unit parameter to get_max_cursor_time and set_cursor_time
  CHANGELOG.md
  src/lua/verilua/utils/WaveVpiCtrl.lua
  tests/test_wave_vpi/sim_wave_main.lua
  tests/test_wave_vpi/xmake.lua
Due: format-lua, lsp-check-lua

fix(rust): resolve all cargo clippy warnings
  libverilua/src/lib.rs
  libverilua/src/native_clock.rs
  libverilua/src/utils/mod.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_access/mod.rs
  libverilua/src/vpi_access/value_setters.rs
  libverilua/src/vpi_callback.rs
  src/wave_vpi/wellen_impl/src/lib.rs
Due: none

fix(wave_vpi): use async-signal-safe _exit() in signal handlers
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/wave_vpi.cpp
  src/wave_vpi/wave_vpi_main.cpp
Due: format-cpp

feat(dpi_exporter): default to absolute path for meta info file
  src/dpi_exporter/src/render_dpi_file.cpp
Due: format-cpp

ci: update release & regression workflows
  .github/workflows/regression.yml
  .github/workflows/release.yml
Due: none

feat(wave_vpi): support X/Z state in get_hex_str and get_bin_str
  CHANGELOG.md
  docs/wave_vpi_hex_str_x_state.md
  src/wave_vpi/src/jit_options.cpp
  src/wave_vpi/src/vpi_compat.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_wave_vpi_x/Design.v
  tests/test_wave_vpi_x/gen_wave_main.lua
  tests/test_wave_vpi_x/sim_wave_main.lua
  tests/test_wave_vpi_x/test.vcd
  tests/test_wave_vpi_x/test.vcd.fsdb
  tests/test_wave_vpi_x/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

chore: bump version to v3.1.0
  CHANGELOG.md
  VERSION
Due: none

chore: remove unused doc
  docs/wave_vpi_hex_str_x_state.md
Due: none

feat(wave_vpi): add vpiDecStrVal support with X/Z handling
  CHANGELOG.md
  src/wave_vpi/include/vpi_compat.h
  src/wave_vpi/src/vpi_compat.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_wave_vpi_x/.gitignore
  tests/test_wave_vpi_x/sim_wave_main.lua
  tests/test_wave_vpi_x/test.vcd
  tests/test_wave_vpi_x/test.vcd.fsdb
Due: format-lua, lsp-check-lua, format-cpp

fix(wave_vpi): use _exit(0) to prevent SIGSEGV on cleanup [skip-ci]
  CHANGELOG.md
  src/wave_vpi/src/wave_vpi.cpp
Due: format-cpp

feat(xmake): improve lsp-check-lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat!: update LuaDut __newindex semantics and docs
  CHANGELOG.md
  docs/reference/data_structure.mdx
  src/lua/verilua/LuaDut.lua
Due: format-lua, lsp-check-lua

chore: update wellen to version 0.20.2 [skip-ci]
  src/wave_vpi/wellen_impl/Cargo.toml
Due: none

ci: update iverilog-tag in workflow.yml
  .github/workflows/regression.yml
Due: none

feat(libverilua): remove unused libveriuser for iverilog
  libverilua/build.rs
Due: none

fix(wave_vpi): flush stdio before _exit on normal shutdown [skip-ci]
  CHANGELOG.md
  src/wave_vpi/src/wave_vpi.cpp
Due: format-cpp

feat(wave_vpi): support sim.print_hierarchy and sim.get_hierarchy
  CHANGELOG.md
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_access/meta_getters.rs
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/tcc_snippet/print_hierarchy.c
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/vpi_compat.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_wave_vpi_print_hier/.gitignore
  tests/test_wave_vpi_print_hier/gen_wave_main.lua
  tests/test_wave_vpi_print_hier/sim_wave.golden
  tests/test_wave_vpi_print_hier/sim_wave_fsdb.golden
  tests/test_wave_vpi_print_hier/sim_wave_main.lua
  tests/test_wave_vpi_print_hier/top.sv
  tests/test_wave_vpi_print_hier/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

ci: use iverilog v13_0 in workflows
  .github/workflows/regression.yml
  .github/workflows/release.yml
Due: none

ci: use higher version of verilator workflows
  .github/workflows/regression.yml
  docs/getting-started/install.mdx
  xmake.lua
Due: format-lua, lsp-check-lua

feat(AgeStaticQueue): enhance list_data output
  CHANGELOG.md
  src/lua/verilua/utils/AgeStaticQueue.lua
Due: format-lua, lsp-check-lua

feat(AgeStaticQueue, StaticQueue): improve name assignment logic for queue instances
  src/lua/verilua/utils/AgeStaticQueue.lua
  src/lua/verilua/utils/StaticQueue.lua
Due: format-lua, lsp-check-lua

feat(AgeStaticQueue): add waitable push and pop methods with event handling
  CHANGELOG.md
  src/lua/verilua/utils/AgeStaticQueue.lua
  tests/test_queue_waitable/main.lua
Due: format-lua, lsp-check-lua

feat: support module_name/show_def_name in hierarchy APIs
  .github/workflows/regression.yml
  .gitignore
  CHANGELOG.md
  libverilua/src/vpi_access/hierarchy_collect.rs
  libverilua/src/vpi_access/meta_getters.rs
  libverilua/src/vpi_access/mod.rs
  src/lua/verilua/LuaSimulator.lua
  src/wave_vpi/src/vpi_compat.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_wave_vpi_module_name/.gitignore
  tests/test_wave_vpi_module_name/gen_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_fsdb.golden
  tests/test_wave_vpi_module_name/sim_wave_fst.golden
  tests/test_wave_vpi_module_name/sim_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_vcd.golden
  tests/test_wave_vpi_module_name/top.sv
  tests/test_wave_vpi_module_name/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

feat(wave_vpi): support comma wildcard patterns and stabilize hierarchy sig_type output
  CHANGELOG.md
  libverilua/src/vpi_access/hierarchy_collect.rs
  src/lua/verilua/LuaSimulator.lua
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_wave_vpi_module_name/gen_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_fsdb.golden
  tests/test_wave_vpi_module_name/sim_wave_fst.golden
  tests/test_wave_vpi_module_name/sim_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_vcd.golden
  tests/test_wave_vpi_module_name/xmake.lua
Due: format-lua, lsp-check-lua

refactor(wave_vpi): split vpi_compat by backend and bind sources per target
  src/wave_vpi/src/vpi_compat_fsdb.cpp
  src/wave_vpi/src/vpi_compat_wellen.cpp
  src/wave_vpi/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp
