Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

feat(SignalDB): add 'name' parameter to auto_bundle validation
  src/lua/verilua/utils/SignalDB.lua
Due: format-lua, lsp-check-lua

refactor(LuaDut, stringx): use fully qualified module path for SignalDB
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/ext/stringx.lua
Due: format-lua, lsp-check-lua

fix(docs): correct link to LuaSimConfig.lua in global configuration documentation
  docs/reference/global_configuration.mdx
Due: none

chore: update .emmyrc.json
  .emmyrc-lsp-check.json
  .emmyrc.json
Due: none

chore: rename .luayrc.json to .luarc.json
  .luarc.json
  .luayrc.json
Due: none

fix(vpiml): use fully qualified module paths for VpimlNosim and VpimlNormal
  src/lua/verilua/vpiml/vpiml.lua
Due: format-lua, lsp-check-lua

refactor(libverilua): rename feature and update tabled API usage
  examples/guided_tour/main.lua
  libverilua/src/gen/gen_callback_policy.rs
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/verilua_env.rs
  src/lua/meta.lua
Due: format-lua, lsp-check-lua

fix(verilator): fix clock period calculation bug for 1ns/1ps timescale
  CHANGELOG.md
  src/verilator/verilator_main.cpp
Due: format-cpp

feat(rules/xmake): add VL_QUIET env var to suppress cprint output
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

refactor(rules/xmake): remove redundant find_file imports after add_imports adoption
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

chore: update .gitignore
  .gitignore
Due: none

fix(LuaSimulator): remove xcelium-specific exit call in finish function
  libverilua/src/verilua_env.rs
  src/lua/verilua/LuaSimulator.lua
Due: format-lua, lsp-check-lua

feat: add time precision and simulation time APIs
  CHANGELOG.md
  examples/guided_tour/main.lua
  examples/guided_tour/xmake.lua
  libverilua/src/vpi_access/meta_getters.rs
  libverilua/xmake.lua
  src/dummy_vpi/dummy_vpi.cpp
  src/lua/meta.lua
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/scheduler/LuaSchedulerCommonV2.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  src/lua/verilua/vpiml/VpimlNosim.lua
  src/nosim/vpi_compat.cpp
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/vpi_compat.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
  tests/test_no_internal_clock/main.lua
Due: format-lua, lsp-check-lua, format-cpp

fix: typos [skip-ci]
  scripts/.xmake/rules/verilua/xmake.lua
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/ext/stringx.lua
  src/lua/verilua/init.lua
  tests/test_lua_utils.lua
Due: format-lua, lsp-check-lua

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: update testbench_generate.mdx and xmake_params.mds
  docs/reference/testbench_generate.mdx
  docs/reference/xmake_params.mdx
Due: none

feat(libverilua): update dependencies
  Cargo.lock
  libverilua/Cargo.toml
  libverilua/src/vpi_callback.rs
Due: none

feat(libverilua): use mimalloc v3
  libverilua/Cargo.toml
Due: none

fix(verilator): prevent time misalignment in internal clock handling
  src/verilator/verilator_main.cpp
Due: format-cpp

chore: update type annotations
  src/lua/meta.lua
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/handles/LuaBundle.lua
  src/lua/verilua/init.lua
  src/lua/verilua/scheduler/LuaSchedulerCommonV2.lua
Due: format-lua, lsp-check-lua

test: add test_comb_1
  tests/test_comb_1/main.lua
  tests/test_comb_1/top.sv
  tests/test_comb_1/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix(xmake): handle version check for test_comb_1 compatibility
  xmake.lua
Due: format-lua, lsp-check-lua

feat(LuaSimulator): disable unsupported APIs for HSE/WAL scenarios
  CHANGELOG.md
  src/lua/verilua/LuaSimulator.lua
Due: format-lua, lsp-check-lua

chore: remove LuaPanda debugger integration [skip-ci]
  .gitmodules
  src/lua/verilua/LuaSimConfig.lua
Due: format-lua, lsp-check-lua

fix(README): typo
  README.md
Due: none

fix(scheduler): prevent event re-wait tasks from immediate wakeup in same cycle
  CHANGELOG.md
  src/gen/gen_scheduler.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
Due: format-lua, lsp-check-lua

feat(Queue,StaticQueue): add waitable operations
  CHANGELOG.md
  src/lua/verilua/utils/Queue.lua
  src/lua/verilua/utils/StaticQueue.lua
  tests/test_queue_waitable/main.lua
  tests/test_queue_waitable/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(libverilua/xmake): add SIM-based selective build for libverilua
  libverilua/xmake.lua
Due: format-lua, lsp-check-lua

chore: update emmyrc/luarc json [skip-ci]
  .emmyrc.json
  .luarc.json
  libverilua/src/gen/gen.lua
Due: format-lua, lsp-check-lua

fix(scheduler): cleanup event task lists on remove_task()
  CHANGELOG.md
  src/gen/gen_scheduler.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
  tests/test_scheduler/main.lua
Due: format-lua, lsp-check-lua

fix: several typos
  docs/reference/data_structure.mdx
  examples/guided_tour/main.lua
  src/dpi_exporter/dpi_exporter.cpp
  src/dpi_exporter/dpi_exporter_cfg.d.lua
  src/dpi_exporter/include/exporter_rewriter.h
  src/dpi_exporter/include/signal_info_getter.h
  src/dpi_exporter/src/render_dpi_file.cpp
  src/gen/gen_scheduler.lua
  src/lua/verilua/ext/stringx.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
  tests/test_dpi_exporter/dpi_cfgs/all.lua
  tests/test_dpi_exporter/golden/all_dpi_func.cpp
  tests/test_dpi_exporter/golden/only_default_dpi_func.cpp
  tests/test_dpi_exporter/golden/only_sensitive_dpi_func.cpp
Due: format-lua, lsp-check-lua, format-cpp

fix(BitVec): mask unused high bits for bit-precise semantics
  CHANGELOG.md
  src/lua/verilua/utils/BitVec.lua
  tests/test_bitvec.lua
Due: format-lua, lsp-check-lua

docs: add BitVec and StrBitsUtils reference docs
  docs-website/sidebars.ts
  docs/reference/bitvec.mdx
  docs/reference/str_bits_utils.mdx
Due: none

docs: update simulator_control.mdx
  docs/reference/simulator_control.mdx
Due: none

docs: update special_env_variables.mdx
  docs-website/sidebars.ts
  docs/reference/special_env_variables.mdx
Due: none

refactor: move try_ffi_cast to SymbolHelper, unify require paths
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/LuaUtils.lua
  src/lua/verilua/utils/CoverageGetter.lua
  src/lua/verilua/utils/DpiExporter.lua
  src/lua/verilua/utils/SignalDB.lua
  src/lua/verilua/utils/SymbolHelper.lua
  src/lua/verilua/utils/WaveVpiCtrl.lua
  tests/test_dpic/main.lua
Due: format-lua, lsp-check-lua

chore: update filters.yml
  .github/filters.yml
Due: none

docs: update testbench_generate.mdx
  docs/reference/testbench_generate.mdx
Due: none

docs: update
  docs/getting-started/install.mdx
  docs/how-to-guides/write_reusable_component.mdx
  docs/index.mdx
Due: none
