Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

format-lua:
  name: format-lua
  entry: xmake run format-lua
  language: system
  pass_filenames: false

lsp-check-lua:
  name: lsp-check-lua
  entry: xmake run lsp-check-lua
  language: system
  pass_filenames: false

format-cpp:
  name: format-cpp
  entry: xmake run format-cpp
  language: system
  pass_filenames: false

feat(nix): libverilua
  default.nix
  scripts/nix/libverilua.nix
Due: none

feat(nix): signal_db_gen
  default.nix
  npins/sources.json
  scripts/nix/slang.nix
  src/signal_db_gen/default.nix
Due: none

feat(nix): libsignal_db_gen.so
  default.nix
  src/signal_db_gen/default.nix
Due: none

feat(nix): testbench_gen
  default.nix
  src/testbench_gen/default.nix
Due: none

feat(nix): add dpi_exporter
  default.nix
  src/dpi_exporter/default.nix
Due: none

feat(nix): cov_exporter
  default.nix
  src/cov_exporter/default.nix
Due: none

feat(nix): libverilua is able to build for multiple simulators
  default.nix
  scripts/nix/libverilua.nix
Due: none

feat(nix): libverilua_wave_vpi
  default.nix
  scripts/nix/libverilua.nix
Due: none

feat(nix): wave_vpi_main
  default.nix
  src/wave_vpi/default.nix
  src/wave_vpi/wellen_impl/default.nix
Due: none

feat(nix): nosim
  scripts/nix/libverilua.nix
  src/nosim/default.nix
Due: none

feat(nix): 7/7 apply_xmake_patch
  default.nix
  scripts/.xmake/default.nix
Due: none

fix(nix): xmake
  default.nix
  scripts/.xmake/default.nix
Due: none

feat(nix): able to run examples/simple_*
  default.nix
Due: none

feat(examples): add fork_basics example
  examples/fork_basics/main.lua
  examples/fork_basics/top.sv
  examples/fork_basics/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(nix): export LUA_PATH and LUA_CPATH to make xmake happy
  default.nix
Due: none

feat(nix): add thirdparty_lib
  default.nix
  scripts/nix/lua-modules/thirdparty_lib.nix
  scripts/nix/lua-modules/verilua.nix
Due: none

feat(nix): add TODO-src-lua (which is redundant) to make verilua happy
  default.nix
  scripts/nix/lua-modules/TODO-src-lua.nix
Due: none

feat(nix): able to use WAL
  default.nix
Due: none

feat: support get_bin_str on LuaDut
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  tests/test_handles/main.lua
Due: format-lua, lsp-check-lua

chore: release v3.2.0
  CHANGELOG.md
  VERSION
Due: none

docs: add AGENTS guidance
  AGENTS.md
  CLAUDE.md
Due: none

test(no_internal_clock): verify negedge wait semantics
  tests/test_no_internal_clock/main.lua
Due: format-lua, lsp-check-lua

fix(toolchain): print resolved nosim binary [skip-ci]
  CHANGELOG.md
  scripts/.xmake/toolchains/nosim/xmake.lua
Due: format-lua, lsp-check-lua

fix(wave_vpi): reuse value string buffer
  CHANGELOG.md
  src/wave_vpi/wellen_impl/src/lib.rs
Due: none

docs(AGENTS.md): update rust formatting guidance [skip-ci]
  AGENTS.md
  libverilua/src/vpi_access/hierarchy_collect.rs
Due: none

fix(verilator): support wide decimal fallback
  CHANGELOG.md
  Cargo.lock
  libverilua/Cargo.toml
  libverilua/src/vpi_access/value_getters.rs
  tests/test_bitvec_signal/Design.v
  tests/test_bitvec_signal/main.lua
Due: format-lua, lsp-check-lua

chore(libverilua): fix clippy warnings
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_callback_policy.rs
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_access/hierarchy_collect.rs
  libverilua/src/vpi_callback.rs
Due: format-lua, lsp-check-lua

fix(wave_vpi): handle short waveforms gracefully
  CHANGELOG.md
  src/wave_vpi/src/wave_vpi.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
Due: format-cpp

docs(tutorial_example): use fork in simple hvl example
  docs/getting-started/simple_hvl_example.mdx
  examples/tutorial_example/main.lua
Due: format-lua, lsp-check-lua

docs(AGENTS.md): clarify EmmyLuaLs LuaCATS guidance [skip-ci]
  AGENTS.md
Due: none

chore: add logo variants and update site branding
  README.md
  docs-website/docusaurus.config.ts
  docs-website/static/img/favicon.svg
  docs-website/static/img/logo-no-wordmark.svg
  docs-website/static/img/logo-vertical.svg
Due: none

chore: update gitignore, fix README alt text, add fork_basics example README [skip-ci]
  .gitignore
  README.md
  examples/fork_basics/README.md
Due: none

chore: add test-all.sh for one-shot full regression run
  AGENTS.md
  test-all.sh
Due: none

fix: auto-detect verdi from PATH instead of requiring VERDI_HOME
  AGENTS.md
  scripts/.xmake/rules/verilua/xmake.lua
  src/wave_vpi/xmake.lua
  tests/test_wave_vpi/xmake.lua
  tests/test_wave_vpi_module_name/xmake.lua
  tests/test_wave_vpi_print_hier/xmake.lua
  tests/test_wave_vpi_x/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

docs: refresh simulator, testbench, and xmake references
  docs/reference/simulator_control.mdx
  docs/reference/testbench_generate.mdx
  docs/reference/xmake_params.mdx
Due: none

docs: refresh introduction figures [skip-ci]
  docs/images/hvl_hse_wal_in_flow.png
  docs/images/verilua_architecture.png
  docs/images/verilua_as_an_hse.png
  docs/images/verilua_as_an_hvl.png
  docs/images/verilua_as_an_wal.png
Due: none

docs: improve clock driving guide and enable mermaid
  docs-website/docusaurus.config.ts
  docs-website/package-lock.json
  docs-website/package.json
  docs/how-to-guides/clock_driving.mdx
  docs/reference/images/scheduler_workflow.png
  docs/reference/images/verilua_dsl_datastructure.png
Due: none

feat: expand guided tour example walkthrough
  examples/guided_tour/cfg.lua
  examples/guided_tour/main.lua
  examples/guided_tour/xmake.lua
Due: format-lua, lsp-check-lua

docs: add mermaid diagrams to docs pages
  docs/getting-started/simple_wal_example.mdx
  docs/how-to-guides/write_reusable_component.mdx
  docs/reference/data_structure.mdx
  docs/reference/xmake_params.mdx
Due: none

docs: add xmake.lua writing guide for HVL and WAL modes
  docs-website/sidebars.ts
  docs/how-to-guides/write_xmake_lua.mdx
Due: none

Path conditions:
  format-lua: any of: \.(lua)$
  lsp-check-lua: any of: \.(lua)$
  format-cpp: any of: \.(cpp|hpp|h|c)$
