Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

test: remove redundant mem_direct linker check [skip-ci]
  tests/xmake.lua
Due: format-lua, lsp-check-lua

fix: export Verilator symbols for mem_direct
  scripts/xmake/rules/verilua/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

feat: add --version flag to all bundled CLI tools
  CHANGELOG.md
  src/cov_exporter/cov_exporter.cpp
  src/dpi_exporter/dpi_exporter.cpp
  src/include/verilua_version.h
  src/nosim/nosim.cpp
  src/signal_db_gen/main.cpp
  src/sv_lint/main.cpp
  src/sv_lint/xmake.lua
  src/testbench_gen/testbench_gen.cpp
  src/wave_vpi/wave_vpi_main.cpp
  src/wave_vpi/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

chore: release v4.0.1
  CHANGELOG.md
  VERSION
Due: none

chore: release v4.1.0
  CHANGELOG.md
  VERSION
Due: none

chore: begin v4.2.0-dev [skip-ci]
  VERSION
  docs/reference/sv_builder.mdx
Due: none

refactor(xmake): drop Teal and Luau source extensions from the verilua rule
  scripts/xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

feat(sv): return generated covergroup instance name from SVBuilder add
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

feat(SVBuilder): add formal_args, covergroup handle, and cov: namespace
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  src/lua/verilua/sv/SVTemplate.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

docs: mark --custom-code aliases as deprecated in testbench_gen help [skip-ci]
  CHANGELOG.md
  docs/reference/testbench_generate.mdx
  src/testbench_gen/testbench_gen.cpp
Due: format-cpp

fix(SVBuilder): report declared formal args when a sequence is referenced by bare name
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

feat: include Lua callsites in SVBuilder lint errors
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

fix(signal_db_gen): correct vpiNet/vpiReg classification and minor cleanups
  CHANGELOG.md
  src/signal_db_gen/signal_db_gen.lua
  src/signal_db_gen/signal_db_gen_core.h
Due: format-lua, lsp-check-lua, format-cpp

fix(nosim): report nosim from simulator auto-detection and harden argv rebuild
  CHANGELOG.md
  src/lua/verilua/vpiml/VpimlNosim.lua
  src/nosim/nosim.cpp
  src/nosim/vpi_compat.cpp
Due: format-lua, lsp-check-lua, format-cpp

test(signal_db): expect vpiReg for logic/bit variables
  CHANGELOG.md
  tests/test_signal_db/main.lua
Due: format-lua, lsp-check-lua

style(tests): align sim_test_cases table and wrap long lines
  tests/xmake.lua
Due: format-lua, lsp-check-lua

feat(xmake): reuse other simulators' flags for nosim builds
  CHANGELOG.md
  docs/reference/xmake_params.mdx
  scripts/xmake/rules/verilua/xmake.lua
  src/lua/meta.lua
  tests/test_infer_nosim_flag/include/iverilog/iverilog_probe.svh
  tests/test_infer_nosim_flag/include/vcs_a/vcs_a_probe.svh
  tests/test_infer_nosim_flag/include/vcs_b/vcs_b_probe.svh
  tests/test_infer_nosim_flag/include/verilator/verilator_probe.svh
  tests/test_infer_nosim_flag/include/xcelium/xcelium_probe.svh
  tests/test_infer_nosim_flag/main.lua
  tests/test_infer_nosim_flag/top.sv
  tests/test_infer_nosim_flag/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

perf(signal_db_gen): cut signal collection overhead in AST traversal
  src/signal_db_gen/signal_db_gen_core.h
Due: format-cpp

fix(nosim): accept stimulus and callback calls as no-ops
  CHANGELOG.md
  docs/how-to-guides/write_xmake_lua.mdx
  docs/reference/special_env_variables.mdx
  src/lua/verilua/vpiml/VpimlNosim.lua
Due: format-lua, lsp-check-lua

refactor(xmake): rename verilua.infer_nosim_flag to verilua.infer_nosim_flags
  CHANGELOG.md
  docs/reference/xmake_params.mdx
  scripts/xmake/rules/verilua/xmake.lua
  src/lua/meta.lua
  tests/test_infer_nosim_flags/include/iverilog/iverilog_probe.svh
  tests/test_infer_nosim_flags/include/vcs_a/vcs_a_probe.svh
  tests/test_infer_nosim_flags/include/vcs_b/vcs_b_probe.svh
  tests/test_infer_nosim_flags/include/verilator/verilator_probe.svh
  tests/test_infer_nosim_flags/include/xcelium/xcelium_probe.svh
  tests/test_infer_nosim_flags/main.lua
  tests/test_infer_nosim_flags/top.sv
  tests/test_infer_nosim_flags/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix(xmake): drop deprecated configs_save and state the xmake >= 2.9.9 requirement
  CHANGELOG.md
  docs/getting-started/install.mdx
  scripts/xmake/toolchains/nosim/xmake.lua
  scripts/xmake/toolchains/vcs/xmake.lua
  scripts/xmake/toolchains/wave_vpi/xmake.lua
  scripts/xmake/toolchains/xcelium/xmake.lua
  scripts/xmakerc.lua
Due: format-lua, lsp-check-lua

docs(agents): add git history discipline and relax test-writing policy
  AGENTS.md
  DEVELOPMENT.md
Due: none

fix(svbuilder): store lint dumps with build artifacts
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

refactor(svbuilder): write lint dumps to a fixed sv_builder_lint.sv path
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

docs(svbuilder): document nosim-based auto-generation workflow
  docs/reference/sv_builder.mdx
Due: none

docs(changelog): translate Unreleased SVBuilder entry to English [skip-ci]
  CHANGELOG.md
Due: none

fix(xmake): merge inferred nosim flags by option kind
  CHANGELOG.md
  docs/how-to-guides/write_xmake_lua.mdx
  docs/reference/xmake_params.mdx
  scripts/xmake/rules/verilua/xmake.lua
  tests/test_infer_nosim_flags/top_vcs_only.sv
  tests/test_infer_nosim_flags/xmake.lua
Due: format-lua, lsp-check-lua

feat: add test_lua_cov_bridge integration test and sv_builder injection docs
  docs/reference/sv_builder.mdx
  tests/test_lua_cov_bridge/cov_bridge.sv
  tests/test_lua_cov_bridge/main.lua
  tests/test_lua_cov_bridge/top.sv
  tests/test_lua_cov_bridge/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

docs: reorder sv_builder.mdx sections for better reading flow
  docs/reference/sv_builder.mdx
Due: none

refactor(lua)!: drop the Lua runtime coverage module
  .agents/skills/verilua-guide/SKILL.md
  CHANGELOG.md
  activate_verilua.sh
  scripts/merge_coverage.py
  src/lua/verilua/TypeExpect.lua
  src/lua/verilua/Verilua.lua
  src/lua/verilua/coverage/AccurateCoverPoint.lua
  src/lua/verilua/coverage/CoverGroup.lua
  src/lua/verilua/coverage/CoverPoint.lua
  src/lua/verilua/init.lua
  tests/test_type_expect.lua
Due: format-lua, lsp-check-lua

refactor(xmake): build libsignal_db_gen and libsv_lint from build_all_tools [skip-ci]
  xmake.lua
Due: format-lua, lsp-check-lua

fix: restore StrBitsUtils bitfield range validation
  CHANGELOG.md
  docs/reference/str_bits_utils.mdx
  src/lua/verilua/utils/StrBitsUtils.lua
  tests/test_str_bits_utils.lua
Due: format-lua, lsp-check-lua
