Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

docs(install): keep only src/lua in EmmyLuaLs library example
  docs/getting-started/install.mdx
Due: none

docs(install): download latest release via GitHub latest URL
  docs/getting-started/install.mdx
Due: none

ci: refresh Verilator matrix to include v5.050
  .github/workflows/regression.yml
Due: none

ci(centos7): install lz4-devel for Verilator FST builds
  ci/setup_centos_env.sh
Due: none

ci: run regression matrix on Ubuntu 24.04
  .github/workflows/regression.yml
Due: none

breaking: remove set_imm_force/release/freeze
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  libverilua/src/vpi_access/value_setters.rs
  src/gen/gen_chdl_access.lua
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/gen/gen_chdl_single.lua
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_set_value/main.lua
Due: format-lua, lsp-check-lua

refactor: drop force_single_beat second arg [skip-ci]
  examples/guided_tour/main.lua
  src/lua/verilua/ext/stringx.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
Due: format-lua, lsp-check-lua

build: drop cargo target-cpu=native default
  .cargo/config.toml
Due: none

fix(libverilua): bound get_value64 vector read
  CHANGELOG.md
  libverilua/src/vpi_access/value_getters.rs
Due: none

chore: release v3.5.0
  CHANGELOG.md
  VERSION
Due: none

chore: quiet LuaCATS diagnostic noise [skip-ci]
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/LuaUtils.lua
  src/lua/verilua/TccWrapper.lua
  src/lua/verilua/TypeExpect.lua
  src/lua/verilua/handles/LuaBundle.lua
Due: format-lua, lsp-check-lua

breaking: make force/release/freeze immediate
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  libverilua/src/complex_handle.rs
  libverilua/src/vpi_access/value_setters.rs
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_handles/main.lua
  tests/test_handles/top.sv
  tests/test_set_value/main.lua
Due: format-lua, lsp-check-lua

chore: quiet LuaCATS diagnostic noise [skip-ci]
  src/lua/verilua/strict.lua
  src/lua/verilua/utils/AgeStaticQueue.lua
  src/lua/verilua/utils/DpiExporter.lua
  src/lua/verilua/utils/GenTypeAnno.lua
  src/lua/verilua/utils/Queue.lua
  src/lua/verilua/utils/StaticQueue.lua
  src/lua/verilua/vpiml/vpiml.lua
Due: format-lua, lsp-check-lua

breaking: remove testbench_gen --lua-meta-file option
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
  src/testbench_gen/testbench_gen.cpp
Due: format-lua, lsp-check-lua, format-cpp

Revert "breaking: make force/release/freeze immediate"
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  libverilua/src/complex_handle.rs
  libverilua/src/vpi_access/value_setters.rs
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_handles/main.lua
  tests/test_handles/top.sv
  tests/test_set_value/main.lua
Due: format-lua, lsp-check-lua

Revert "breaking: remove set_imm_force/release/freeze"
  docs/reference/data_structure/callable_hdl.mdx
  libverilua/src/vpi_access/value_setters.rs
  src/gen/gen_chdl_access.lua
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/gen/gen_chdl_single.lua
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_set_value/main.lua
Due: format-lua, lsp-check-lua

test: add force/release coalesce regression
  CHANGELOG.md
  tests/test_force_release_coalesce/main.lua
  tests/test_force_release_coalesce/top.sv
  tests/test_force_release_coalesce/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

chore: release v3.5.1
  CHANGELOG.md
  VERSION
Due: none

breaking: decouple --public-flat-rw from .vlt; add verilator_config
  CHANGELOG.md
  docs/reference/simulator_default_flags.mdx
  docs/reference/xmake_params.mdx
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

feat: enable VPI set_force/set_release on Verilator >= 5.046 with build-time gate
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/xmake_params.mdx
  libverilua/src/vpi_access/value_setters.rs
  scripts/.xmake/rules/verilua/xmake.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_force_release_coalesce/main.lua
  tests/test_force_release_coalesce/xmake.lua
  tests/test_handles/main.lua
  tests/test_handles/xmake.lua
  tests/test_set_value/main.lua
  tests/test_set_value/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

refactor!: rename verilator.opt_* make OPT knobs to verilua.verilator_opt_*
  CHANGELOG.md
  docs/reference/xmake_params.mdx
  scripts/.xmake/rules/verilua/xmake.lua
  src/lua/meta.lua
Due: format-lua, lsp-check-lua

fix: keep vpiForceFlag under inertial_put; soft-gate force tests by Verilator version
  CHANGELOG.md
  libverilua/src/vpi_access/value_setters.rs
  tests/test_force_release_coalesce/main.lua
  tests/test_handles/main.lua
  tests/test_handles/xmake.lua
  tests/test_set_value/main.lua
  tests/test_set_value/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

ci: keep matrix jobs running after one failure
  .github/workflows/regression.yml
  CHANGELOG.md
Due: none

fix: raise Verilator force/release minimum to 5.050
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/xmake_params.mdx
  scripts/.xmake/rules/verilua/xmake.lua
  tests/test_force_release_coalesce/xmake.lua
  tests/test_handles/main.lua
  tests/test_handles/xmake.lua
  tests/test_set_value/main.lua
  tests/test_set_value/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

fix: avoid Verilator preprocessor token limit in dpi_exporter tick
  CHANGELOG.md
  src/dpi_exporter/include/exporter_rewriter.h
  tests/test_dpi_exporter/golden/all_top.sv
  tests/test_dpi_exporter/golden/only_default_top.sv
  tests/test_dpi_exporter/golden/only_sensitive_top.sv
Due: format-cpp

fix: harden libverilua build/cache/VPI edge cases
  CHANGELOG.md
  libverilua/build.rs
  libverilua/src/utils/mod.rs
  libverilua/src/vpi_access/meta_getters.rs
  libverilua/xmake.lua
Due: format-lua, lsp-check-lua

fix: stop inertial_put string put from leaking CString
  CHANGELOG.md
  libverilua/src/vpi_access/value_setters.rs
Due: none

perf: call sim_event via registry raw lua_pcall
  CHANGELOG.md
  DEVELOPMENT.md
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/gen/gen_sim_event_chunk_init.rs
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/gen/sim_event_chunk.lua
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
  src/lua/verilua/Verilua.lua
Due: format-lua, lsp-check-lua

feat(dpi_exporter): dpi-only chdl construct, richer signal meta, sensitive-group ticks
  CHANGELOG.md
  src/dpi_exporter/dpi_exporter.cpp
  src/dpi_exporter/include/exporter_rewriter.h
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/utils/DpiExporter.lua
  tests/test_dpi_exporter/golden/all_top.sv
  tests/test_dpi_exporter/golden/only_default_top.sv
  tests/test_dpi_exporter/golden/only_sensitive_top.sv
  tests/test_dpi_exporter/xmake.lua
  tests/test_dpi_exporter_chdl/dpi_cfgs/export.lua
  tests/test_dpi_exporter_chdl/main.lua
  tests/test_dpi_exporter_chdl/top.sv
  tests/test_dpi_exporter_chdl/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

perf(libverilua): load ELF symbol table once per file in get_symbol_address
  CHANGELOG.md
  libverilua/src/utils/mod.rs
Due: none

feat(lua): add set_imm_release to ProxyTableHandle
  docs/reference/data_structure/proxy_table_handle.mdx
  src/lua/verilua/LuaDut.lua
Due: format-lua, lsp-check-lua

fix(dpi_exporter): graceful init when dpi_exporter not linked
  CHANGELOG.md
  src/lua/verilua/utils/DpiExporter.lua
Due: format-lua, lsp-check-lua

fix(testbench_gen): unify non-verilator reset handling
  CHANGELOG.md
  src/testbench_gen/testbench_gen.cpp
  tests/test_testbench_gen/golden/top_ansi_tb_top.sv
  tests/test_testbench_gen/golden/top_clock_variants_tb_top.sv
  tests/test_testbench_gen/golden/top_non_ansi_tb_top.sv
Due: format-cpp

fix(verilua-rule): use canonical --top-module flag for verilator
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

chore: ignore tools/sv_lint build artifact
  .gitignore
Due: none

chore(lsp-check): switch to emmylua_ls stdio LSP checker
  .emmyrc-lsp-check.json
  .emmyrc.json
  .gitignore
  AGENTS.md
  scripts/emmylua_ls_check.py
  src/gen/gen_scheduler.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix(meta): complete set_add_values.cmd alias keys
  src/lua/meta.lua
Due: format-lua, lsp-check-lua

feat(format-lua): wrap CodeFormat with auto-install and F selector
  AGENTS.md
  scripts/emmylua_format.py
  xmake.lua
Due: format-lua, lsp-check-lua

chore: ignore local caches and tighten AGENTS delivery rules
  .gitignore
  AGENTS.md
Due: none

feat(dpi_exporter): add --cs/--config-str for inline Lua config
  CHANGELOG.md
  src/dpi_exporter/dpi_exporter.cpp
  src/dpi_exporter/include/dpi_exporter.h
  tests/test_dpi_exporter/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp
