Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

break(env): hard-rename runtime env vars to VL_* prefix
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_access/hierarchy_collect.rs
  libverilua/src/vpi_access/meta_getters.rs
  scripts/.xmake/rules/verilua/xmake.lua
  src/dummy_vpi/dummy_vpi.cpp
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/init.lua
  src/lua/verilua/utils/SignalDB.lua
  src/nosim/nosim.cpp
  src/wave_vpi/wave_vpi_main.cpp
Due: format-lua, lsp-check-lua, format-cpp

feat(env): prefer VL_CFG_FILE for user config path
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  examples/HSE/verilua/setvars.sh
  examples/HSE_dummy_vpi/verilua/setvars.sh
  examples/HSE_virtual_rtl/verilua/setvars.sh
  scripts/.xmake/rules/verilua/xmake.lua
  src/lua/verilua/LuaSimConfig.lua
  src/lua/verilua/init.lua
Due: format-lua, lsp-check-lua

feat(env): add VL_POST_INIT_SCRIPT and shell-quote setvars runenvs
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  libverilua/src/verilua_env.rs
  scripts/.xmake/rules/verilua/xmake.lua
  tests/test_post_init_script/main.lua
  tests/test_post_init_script/post_init.lua
  tests/test_post_init_script/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

break(env): rename xmake-only knobs to VL_XMK_* prefix
  AGENTS.md
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
  tests/test_await_rw_corner/xmake.lua
  tests/test_basic_signal/main.lua
  tests/test_basic_signal/xmake.lua
  tests/test_comb/main.lua
  tests/test_comb/xmake.lua
  tests/test_comb_1/main.lua
  tests/test_comb_1/xmake.lua
  tests/test_comb_await_rw/xmake.lua
  tests/test_force_release_coalesce/main.lua
  tests/test_issue11/main.lua
  tests/test_no_internal_clock/main.lua
  tests/test_set_value/main.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix(NativeClock): use deferred set path like Lua clock:set
  AGENTS.md
  CHANGELOG.md
  libverilua/src/native_clock.rs
  tests/test_basic_signal/main.lua
  tests/test_comb/main.lua
  tests/test_comb_1/main.lua
  tests/test_issue11/main.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

fix(test): reset coverage before phase0_idle assert
  tests/test_cov_exporter_dynamic/main.lua
Due: format-lua, lsp-check-lua

feat(xmake): export VL_TARGET_NAME and VL_BUILD_DIR runenvs
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  scripts/.xmake/rules/verilua/xmake.lua
  tests/test_post_init_script/main.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

feat(testbench_gen): quiet by default; keep one-line summary
  CHANGELOG.md
  docs/reference/testbench_generate.mdx
  scripts/.xmake/rules/verilua/xmake.lua
  src/testbench_gen/testbench_gen.cpp
  src/testbench_gen/testbench_gen_parser.cpp
Due: format-lua, lsp-check-lua, format-cpp

fix(scheduler): replace bare assert(false) after task traceback
  CHANGELOG.md
  src/gen/gen_scheduler.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
  tests/test_scheduler/main.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

feat(sv): add raw preamble and string-path default_clocking
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

refactor(dpi_exporter): prefer VL_DPI_EXP_* control macros
  CHANGELOG.md
  src/dpi_exporter/include/exporter_rewriter.h
  src/dpi_exporter/src/render_dpi_file.cpp
  tests/test_dpi_exporter/golden/all_dpi_func.cpp
  tests/test_dpi_exporter/golden/all_top.sv
  tests/test_dpi_exporter/golden/only_default_dpi_func.cpp
  tests/test_dpi_exporter/golden/only_default_top.sv
  tests/test_dpi_exporter/golden/only_sensitive_dpi_func.cpp
  tests/test_dpi_exporter/golden/only_sensitive_top.sv
Due: format-cpp

break(dummy_vpi): hard-rename control macros to VL_DUMMY_VPI_*
  CHANGELOG.md
  src/dummy_vpi/dummy_vpi.cpp
Due: format-cpp

docs(README): refresh project structure tree [skip-ci]
  README.md
Due: none

fix(dpi): keep dummy_vpi handles; bind dpi-only get64/hex/vec
  CHANGELOG.md
  src/dummy_vpi/dummy_vpi.cpp
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/utils/DpiExporter.lua
  tests/test_dpi_exporter_chdl/dpi_cfgs/export.lua
  tests/test_dpi_exporter_chdl/main.lua
  tests/test_dummy_vpi/cfg.lua
  tests/test_dummy_vpi/dpi_cfgs/export.lua
  tests/test_dummy_vpi/main.lua
  tests/test_dummy_vpi/tb_top.sv
  tests/test_dummy_vpi/top.sv
  tests/test_dummy_vpi/verilator_main.cpp
  tests/test_dummy_vpi/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

feat: add BundleToVlbc to seal Lua components as .vlbc
  CHANGELOG.md
  Cargo.lock
  docs-website/sidebars.ts
  docs/navigation.mdx
  docs/reference/bundle_to_vlbc.mdx
  docs/reference/special_env_variables.mdx
  docs/reference/type_overview.mdx
  libverilua/Cargo.toml
  libverilua/build.rs
  libverilua/src/utils/bundle_crypto.rs
  libverilua/src/utils/mod.rs
  libverilua/xmake.lua
  scripts/.xmake/rules/verilua/xmake.lua
  src/lua/verilua/init.lua
  src/lua/verilua/utils/BundleToVlbc.lua
  src/wave_vpi/xmake.lua
  tests/test_bundle_to_bc.lua
  tests/test_bundle_to_vlbc.lua
  tests/test_bundle_to_vlbc/main.lua
  tests/test_bundle_to_vlbc/xmake.lua
Due: format-lua, lsp-check-lua

ci: inject VL_BUNDLE_KEY_HEX when building libverilua
  .github/workflows/benchmark.yml
  .github/workflows/regression.yml
  .github/workflows/release.yml
Due: none

fix(vlbc): do not append ?.vlbc to package.path; refine docs
  docs/reference/bundle_to_vlbc.mdx
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

feat: add turso backend and libsqlite3 auto-arbitration to LuaDataBaseV2
  AGENTS.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/turso_ffi/Cargo.toml
  crates/turso_ffi/src/lib.rs
  crates/xmake.lua
  docs/reference/type_overview.mdx
  src/lua/verilua/utils/LuaDataBase.lua
  src/lua/verilua/utils/LuaDataBaseV2.lua
  src/lua/verilua/utils/Turso.lua
  tests/test_lua_database_commit_bounds.lua
  tests/test_lua_database_v2_turso.lua
  xmake.lua
Due: format-lua, lsp-check-lua

refactor: make LuaDataBase an alias of LuaDataBaseV2
  CHANGELOG.md
  docs/reference/type_overview.mdx
  src/lua/verilua/TypeExpect.lua
  src/lua/verilua/utils/LuaDataBase.lua
  src/lua/verilua/utils/LuaDataBaseV2.lua
  tests/test_lua_database_commit_bounds.lua
  tests/test_lua_database_v2_turso.lua
Due: format-lua, lsp-check-lua

refactor: move turso_ffi from crates/ to src/turso_ffi
  .github/workflows/regression.yml
  AGENTS.md
  Cargo.toml
  README.md
  src/lua/verilua/utils/Turso.lua
  src/turso_ffi/Cargo.toml
  src/turso_ffi/src/lib.rs
  src/turso_ffi/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

fix: resolve cfg.prj_dir to an absolute path
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  src/lua/verilua/LuaSimConfig.lua
Due: format-lua, lsp-check-lua

fix: tolerate mkdir race when creating LuaDataBaseV2 database directory
  CHANGELOG.md
  src/lua/verilua/utils/LuaDataBaseV2.lua
Due: format-lua, lsp-check-lua

fix: priority-based clock/reset port selection in testbench_gen
  CHANGELOG.md
  docs/reference/testbench_generate.mdx
  src/testbench_gen/testbench_gen.cpp
  tests/test_testbench_gen/top_reset_priority.sv
  tests/test_testbench_gen/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

fix: export Verilator symbols for mem_direct
  scripts/.xmake/rules/verilua/xmake.lua
  tests/xmake.lua
Due: format-lua, lsp-check-lua

feat: replace acc_time feature with VL_ACC_LUA_TIME runtime switch
  CHANGELOG.md
  docs/reference/special_env_variables.mdx
  libverilua/Cargo.toml
  libverilua/src/gen/gen.lua
  libverilua/src/gen/gen_register_callback_func.rs
  libverilua/src/gen/gen_verilua_env_init.rs
  libverilua/src/gen/gen_verilua_env_struct.rs
  libverilua/src/verilua_env.rs
  libverilua/src/vpi_callback.rs
  libverilua/xmake.lua
Due: format-lua, lsp-check-lua

test: remove redundant mem_direct linker check [skip-ci]
  tests/xmake.lua
Due: format-lua, lsp-check-lua

fix: inject xmake rules via XMAKE_RCFILES
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  activate_verilua.sh
  ci/load_verilua_env.sh
  docs/getting-started/install.mdx
  docs/how-to-guides/write_xmake_lua.mdx
  scripts/.xmake/xmake.conf
  scripts/xmake/rules/verilua/xmake.lua
  scripts/xmake/toolchains/nosim/xmake.lua
  scripts/xmake/toolchains/vcs/xmake.lua
  scripts/xmake/toolchains/wave_vpi/xmake.lua
  scripts/xmake/toolchains/xcelium/xmake.lua
  scripts/xmakerc.lua
  verilua.sh
  xmake.lua
Due: format-lua, lsp-check-lua

refactor: drop Conan argparse from wave_vpi_main
  CHANGELOG.md
  ci/package.sh
  conanfile.py
  src/wave_vpi/wave_vpi_main.cpp
Due: format-cpp

chore: ignore .worktrees; remove .luarc.json
  .emmyrc.json
  .gitignore
  .luarc.json
Due: none

refactor: replace libassert with local vl_assert and drop cpptrace
  .pre-commit-config.yaml
  CHANGELOG.md
  conanfile.py
  src/cov_exporter/include/cov_exporter.h
  src/cov_exporter/xmake.lua
  src/dpi_exporter/include/dpi_exporter.h
  src/dpi_exporter/xmake.lua
  src/include/vl_assert.h
  src/nosim/nosim.h
  src/nosim/xmake.lua
  src/signal_db_gen/signal_db_gen_core.h
  src/signal_db_gen/xmake.lua
  src/testbench_gen/testbench_gen.h
  src/testbench_gen/xmake.lua
  src/wave_vpi/wave_vpi_main.cpp
  src/wave_vpi/xmake.lua
  tests/test_slang_common/xmake.lua
  verilua.sh
Due: format-lua, lsp-check-lua, format-cpp

fix: include <memory> in nosim vpi_compat
  src/nosim/vpi_compat.cpp
Due: format-cpp

fix: link fmt when building nosim
  src/nosim/xmake.lua
Due: format-lua, lsp-check-lua

ci: install zlib-devel on CentOS 7
  ci/setup_centos_env.sh
Due: none

fix: harden source install env setup and update rollback
  CHANGELOG.md
  docs/getting-started/install.mdx
  verilua.sh
  xmake.lua
Due: format-lua, lsp-check-lua

fix(build): pass projectdir explicitly in inner xmake build and run calls
  libverilua/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

ci: clean host xmake cache before running in CentOS 7 container
  .github/workflows/regression.yml
  .github/workflows/release.yml
Due: none

ci: skip host xmake when packaging CentOS 7
  .github/workflows/regression.yml
  .github/workflows/release.yml
Due: none

build: use xmake builtin download/archive and enable parallel jobs for conan and make
  xmake.lua
Due: format-lua, lsp-check-lua

refactor(xmake): rename default_timescale to DEFAULT_TIMESCALE
  scripts/xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua
