Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

.pre-commit-config.yaml:

# Use `pre-commit install` to install the pre-commit hooks.
# You only need to do this once.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: format-lua
        name: format-lua
        entry: xmake run format-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: lsp-check-lua
        name: lsp-check-lua
        entry: xmake run lsp-check-lua
        language: system
        pass_filenames: false
        files: \.(lua)$
      - id: format-cpp
        name: format-cpp
        entry: xmake run format-cpp
        language: system
        pass_filenames: false
        files: \.(cpp|hpp|h|c)$

ci(regression): enhance NHL2 integration with caching and improved build logic
  .github/workflows/regression.yml
Due: none

perf(libverilua): avoid repeated CString allocations in string getters
  CHANGELOG.md
  libverilua/src/complex_handle.rs
  libverilua/src/vpi_access/value_getters.rs
Due: none

feat(libverilua): add mmap-based hierarchy cache to avoid repeated VPI traversals
  CHANGELOG.md
  Cargo.lock
  libverilua/Cargo.toml
  libverilua/src/vpi_access/hierarchy_collect.rs
  libverilua/xmake.lua
  src/wave_vpi/wave_vpi_main.cpp
Due: format-lua, lsp-check-lua, format-cpp

refactor(wave_vpi): rename JIT comments to Hot-Prefetch JIT for clarity
  src/wave_vpi/include/fsdb_wave_vpi.h
  src/wave_vpi/include/jit_options.h
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/jit_options.cpp
  src/wave_vpi/src/vpi_compat_fsdb.cpp
  src/wave_vpi/src/vpi_compat_wellen.cpp
Due: format-cpp

refactor(tests): rename test target to test-all-lua for consistency and clarity [skip-ci]
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

refactor(wave_vpi): update file naming conventions for consistency in cache and metadata files
  .gitignore
  src/wave_vpi/include/fsdb_wave_vpi.h
  src/wave_vpi/wellen_impl/src/lib.rs
Due: format-cpp

refactor(wave_vpi): consolidate metadata handling into a single meta file for improved cache management
  .gitignore
  src/wave_vpi/include/fsdb_wave_vpi.h
  src/wave_vpi/src/fsdb_wave_vpi.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
Due: format-cpp

feat(wave_vpi): add timing logs for file read/write operations to improve performance monitoring
  src/wave_vpi/src/fsdb_wave_vpi.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
Due: format-cpp

feat(benchmarks): add wave_vpi benchmark files for hot signal read and waveform generation
  .github/workflows/benchmark.yml
  tests/benchmarks/cases/wave_vpi_bench.lua
  tests/benchmarks/cases/wave_vpi_gen.lua
  tests/benchmarks/rtl/wave_vpi_bench.sv
  tests/benchmarks/waves/.gitignore
  tests/benchmarks/xmake.lua
Due: format-lua, lsp-check-lua

perf(wave_vpi/wellen_impl): replace YAML signal cache with mmap-loaded binary cache
  CHANGELOG.md
  Cargo.lock
  src/wave_vpi/wellen_impl/Cargo.toml
  src/wave_vpi/wellen_impl/src/lib.rs
Due: none

refactor(benchmarks): reduce warmup and runs counts for wave_vpi benchmarks to improve execution time
  tests/benchmarks/xmake.lua
Due: format-lua, lsp-check-lua

perf(wave_vpi): progressive read + sliding window JIT optimization
  CHANGELOG.md
  src/wave_vpi/include/fsdb_wave_vpi.h
  src/wave_vpi/include/jit_options.h
  src/wave_vpi/include/vpi_compat.h
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/vpi_compat_fsdb.cpp
  src/wave_vpi/src/vpi_compat_wellen.cpp
Due: format-cpp

perf(wave_vpi/wellen_impl): eliminate Vec allocation in wellen_get_int_value hot path
  CHANGELOG.md
  src/wave_vpi/wellen_impl/src/lib.rs
Due: none

build(xmake): parallelize `test` target
  tests/benchmarks/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat: add bitwidth to hierarchy API and optimize auto_bundle
  CHANGELOG.md
  libverilua/src/vpi_access/hierarchy_collect.rs
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/LuaSimulator.lua
  src/lua/verilua/ext/stringx.lua
  src/lua/verilua/utils/SignalDB.lua
  tests/test_handles/main.lua
  tests/test_wave_vpi_module_name/gen_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_fsdb.golden
  tests/test_wave_vpi_module_name/sim_wave_fst.golden
  tests/test_wave_vpi_module_name/sim_wave_main.lua
  tests/test_wave_vpi_module_name/sim_wave_vcd.golden
  tests/test_wave_vpi_print_hier/gen_wave_main.lua
  tests/test_wave_vpi_print_hier/sim_wave.golden
  tests/test_wave_vpi_print_hier/sim_wave_fsdb.golden
  tests/test_wave_vpi_print_hier/sim_wave_main.lua
  tests/test_wave_vpi_print_hier/xmake.lua
Due: format-lua, lsp-check-lua

fix(wave_vpi): write meta file after time table creation for cache reuse
  src/wave_vpi/src/fsdb_wave_vpi.cpp
Due: format-cpp

refactor(tests): per-directory parallel targets, inline helpers, merge padding test
  .gitignore
  tests/test_wave_vpi/sim_wave_main.lua
  tests/test_wave_vpi/test.fst
  tests/test_wave_vpi/test.vcd.fsdb
  tests/test_wave_vpi/top.sv
  tests/test_wave_vpi/xmake.lua
  tests/wave_vpi_padding_issue/Design.v
  tests/wave_vpi_padding_issue/main.lua
  tests/wave_vpi_padding_issue/xmake.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(wave_vpi): hierarchy-only mode with --hierarchy-only CLI flag
  CHANGELOG.md
  src/wave_vpi/include/wave_vpi.h
  src/wave_vpi/src/fsdb_wave_vpi.cpp
  src/wave_vpi/src/wave_vpi.cpp
  src/wave_vpi/wave_vpi_main.cpp
  src/wave_vpi/wellen_impl/src/lib.rs
Due: format-cpp

perf(wave_vpi): share ffrObject across FSDB JIT threads
  CHANGELOG.md
  src/wave_vpi/src/vpi_compat_fsdb.cpp
Due: format-cpp

fix(rules/xmake): wrap single-value sim flags in table to prevent concat crash [skip-ci]
  CHANGELOG.md
  scripts/.xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

fix(wave_vpi): return Lua integer from get_max_cursor_index with safe-range assert
  src/lua/verilua/utils/WaveVpiCtrl.lua
Due: format-lua, lsp-check-lua

feat(nix): init npins with latest nixpkgs 25.11
  npins/default.nix
  npins/sources.json
Due: none

feat(nix): add slang nix support
  npins/sources.json
  scripts/nix/slang.nix
Due: none

feat(nix): add libassert support
  npins/sources.json
  scripts/nix/libassert.nix
Due: none

feat(nix): separate mimalloc2
  scripts/nix/mimalloc2.nix
  scripts/nix/slang.nix
Due: none

feat(nix): add default.nix
  .envrc
  .gitignore
  default.nix
Due: none

feat(nix): default: add gmp
  default.nix
Due: none

feat(nix): luajit-pro: helper
  npins/sources.json
  scripts/nix/luajit-pro/helper.nix
Due: none

feat(nix): add luajit-pro support
  npins/sources.json
  scripts/nix/luajit-pro/default.nix
Due: none

fix(nix): no version in luajit-pro, so that luajit-pro.pkgs works
  scripts/nix/luajit-pro/default.nix
Due: none

feat(nix): luajit-pro: add luarocks support
  scripts/nix/luajit-pro/default.nix
Due: none

feat(nix): luajit-pro: rename
  scripts/nix/luajit-pro/default.nix
Due: none

feat(nix): 3/7 install_luajit
  default.nix
Due: none

feat(nix): lua-modules: cluacov
  scripts/nix/lua-modules/cluacov.nix
Due: none

feat(nix): lua-modules: lsqlite
  scripts/nix/lua-modules/lsqlite.nix
Due: none

feat(nix): 4/7 install_lua_modules
  default.nix
Due: none

feat(nix): 5/7 install_tinycc
  default.nix
  npins/sources.json
  scripts/nix/lua-modules/tcc.nix
Due: none

feat(nix): try to replace activate_verilua.sh
  default.nix
  npins/sources.json
  scripts/nix/lua-modules/debugger-lua.nix
  scripts/nix/lua-modules/verilua.nix
Due: none

fix(nix): simplify tcc
  scripts/nix/lua-modules/tcc.nix
Due: none

refactor(lua): use verilua namespace for internal requires
  src/lua/verilua/ext/stringx.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/init.lua
  src/lua/verilua/sva/SVAContext.lua
  src/lua/verilua/vpiml/VpimlNosim.lua
  tests/test_age_static_queue.lua
  tests/test_bitvec.lua
  tests/test_bitvec_signal/main.lua
  tests/test_cyclic_random.lua
  tests/test_scheduler/main.lua
  tests/test_signal_db/main.lua
  tests/test_static_queue.lua
  tests/test_sva_gen.lua
  tests/test_wighted_random.lua
Due: format-lua, lsp-check-lua
