Repository cyril0124/verilua: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lua, lsp-check-lua, format-cpp

format-lua:
  name: format-lua
  entry: xmake run format-lua
  language: system
  pass_filenames: false

lsp-check-lua:
  name: lsp-check-lua
  entry: xmake run lsp-check-lua
  language: system
  pass_filenames: false

format-cpp:
  name: format-cpp
  entry: xmake run format-cpp
  language: system
  pass_filenames: false

build: use xmake builtin os.files and utils.archive in xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

build: avoid dependency graph rebuilds between libverilua variants
  CHANGELOG.md
  libverilua/xmake.lua
Due: format-lua, lsp-check-lua

build: remove unused extern/debugger.lua submodule and references
  .gitmodules
  activate_verilua.sh
  ci/package.sh
Due: none

refactor: generate scheduler variants with a plain Python generator
  AGENTS.md
  CHANGELOG.md
  DEVELOPMENT.md
  src/gen/gen_scheduler.py
  src/gen/gen_scheduler.sh
  src/gen/scheduler_template.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaEdgeStepSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2.lua
  src/lua/verilua/scheduler/LuaNormalSchedulerV2P.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2.lua
  src/lua/verilua/scheduler/LuaStepSchedulerV2P.lua
Due: format-lua, lsp-check-lua

refactor: rewrite CHDL access generator in Python
  AGENTS.md
  CHANGELOG.md
  DEVELOPMENT.md
  src/gen/.gitignore
  src/gen/gen_chdl_access.lua
  src/gen/gen_chdl_access.py
  src/gen/gen_chdl_access.sh
  src/gen/gen_chdl_double.lua
  src/gen/gen_chdl_multi.lua
  src/gen/gen_chdl_single.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
Due: format-lua, lsp-check-lua

chore: harden pre-commit config and add prek setup script
  .pre-commit-config.yaml
  scripts/setup-precommit.sh
Due: none

fix: restrict whole-tree hooks to commit stage so push only runs clippy
  .pre-commit-config.yaml
Due: none

refactor!: replace luajit-pro fork with official LuaJIT
  .emmyrc.json
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .gitignore
  .gitmodules
  CHANGELOG.md
  Cargo.toml
  activate_verilua.sh
  ci/make_tools_wrapper.sh
  ci/package.sh
  libverilua/xmake.lua
  scripts/emmylua_format.py
  scripts/xmake/rules/verilua/xmake.lua
  src/dpi_exporter/xmake.lua
  src/nosim/xmake.lua
  src/signal_db_gen/xmake.lua
  src/wave_vpi/xmake.lua
  tools/vl-iverilog
  tools/vl-vcs
  tools/vl-vcs-dpi
  tools/vl-verilator
  tools/vl-verilator-dpi
  tools/vl-verilator-p
  xmake.lua
Due: format-lua, lsp-check-lua

fix: clean LuaJIT objects before rebuild
  xmake.lua
Due: format-lua, lsp-check-lua

fix: raise LuaJIT upvalue limit to 120
  CHANGELOG.md
  tests/test_luajit_upval_limit.lua
  xmake.lua
Due: format-lua, lsp-check-lua

chore: remove tests/test_luajit_upval_limit.lua
  tests/test_luajit_upval_limit.lua
Due: format-lua, lsp-check-lua

fix: apply LuaJIT patches from scripts/patches/luajit
  .gitattributes
  CHANGELOG.md
  scripts/patches/luajit/0001-raise-lj-max-upval.patch
  scripts/patches/luajit/0002-raise-jit-defaults.patch
  xmake.lua
Due: format-lua, lsp-check-lua

refactor!: replace luajit-pro fork with official LuaJIT (#13)
  .emmyrc.json
  .gitattributes
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .gitignore
  .gitmodules
  CHANGELOG.md
  Cargo.toml
  activate_verilua.sh
  ci/make_tools_wrapper.sh
  ci/package.sh
  libverilua/xmake.lua
  scripts/emmylua_format.py
  scripts/patches/luajit/0001-raise-lj-max-upval.patch
  scripts/patches/luajit/0002-raise-jit-defaults.patch
  scripts/xmake/rules/verilua/xmake.lua
  src/dpi_exporter/xmake.lua
  src/nosim/xmake.lua
  src/signal_db_gen/xmake.lua
  src/wave_vpi/xmake.lua
  tools/vl-iverilog
  tools/vl-vcs
  tools/vl-vcs-dpi
  tools/vl-verilator
  tools/vl-verilator-dpi
  tools/vl-verilator-p
  xmake.lua
Due: format-lua, lsp-check-lua

build: upgrade slang to v11.0
  CHANGELOG.md
  conanfile.py
  scripts/conan/slang/conanfile.py
  scripts/patches/0001-fix-lintmode-crash.patch
  scripts/patches/0002-allow-overwrite-positional.patch
  scripts/patches/0003-allow-overwrite-cmdline-args.patch
  scripts/patches/0004-skip-expanded-line-file-directives.patch
  src/cov_exporter/cov_exporter.cpp
  src/cov_exporter/include/cov_info_writter.h
  src/cov_exporter/xmake.lua
  src/dpi_exporter/include/exporter_rewriter.h
  src/dpi_exporter/xmake.lua
  src/signal_db_gen/signal_db_gen_core.h
  src/signal_db_gen/xmake.lua
  src/slang_common/SlangCommon.cpp
  src/sv_lint/xmake.lua
  src/testbench_gen/testbench_gen.h
  src/testbench_gen/xmake.lua
  tests/test_slang_common/test_slang_common.cpp
  tests/test_slang_common/xmake.lua
Due: format-lua, lsp-check-lua, format-cpp

chore: move slang patches into scripts/patches/slang/
  scripts/conan/slang/conanfile.py
  scripts/patches/slang/0001-fix-lintmode-crash.patch
  scripts/patches/slang/0002-allow-overwrite-positional.patch
  scripts/patches/slang/0003-allow-overwrite-cmdline-args.patch
  scripts/patches/slang/0004-skip-expanded-line-file-directives.patch
Due: none

ci: extract NHL2 test into a dedicated job and cancel superseded PR runs
  .github/workflows/regression.yml
Due: none

ci: extract reusable run-test workflow and sweep one dimension per job
  .github/workflows/regression.yml
  .github/workflows/run-test.yml
Due: none

chore: add pull request template
  .github/pull_request_template.md
Due: none

docs: require PR description confirmation before creating a PR
  AGENTS.md
Due: none

docs: require unwrapped PR body lines
  AGENTS.md
Due: none

ci: package release zips with a top-level directory
  CHANGELOG.md
  ci/package.sh
  docs/getting-started/install.mdx
Due: none

fix(test): pin test-all.sh to its own project tree
  test-all.sh
Due: none

refactor(chdl): fold inline deprecation warnings into one helper
  src/lua/verilua/handles/LuaCallableHDL.lua
Due: format-lua, lsp-check-lua

test(chdl): cover every canonical write API across beat classes
  tests/test_chdl_write_api/main.lua
  tests/test_chdl_write_api/top.sv
  tests/test_chdl_write_api/xmake.lua
  tests/test_handles/main.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(chdl)!: canonical write API with arr[i] element views
  CHANGELOG.md
  docs/reference/data_structure/bundle.mdx
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  examples/guided_tour/main.lua
  src/gen/gen_chdl_access.py
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  src/lua/verilua/handles/LuaBundle.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  tests/benchmarks/cases/matrix_multiplier.lua
  tests/benchmarks/cases/matrix_multiplier_no_internal_clock.lua
  tests/test_basic_signal/main.lua
  tests/test_bitvec_signal/main.lua
  tests/test_force_release_coalesce/main.lua
  tests/test_handles/main.lua
  tests/test_handles/top.sv
  tests/test_set_value/main.lua
Due: format-lua, lsp-check-lua

docs(changelog): drop the ChdlAccess Multi imm hex entry
  CHANGELOG.md
Due: none

feat(chdl)!: canonical write API with arr[i] element views (#14)
  CHANGELOG.md
  docs/reference/data_structure/bundle.mdx
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  examples/guided_tour/main.lua
  src/gen/gen_chdl_access.py
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  src/lua/verilua/handles/LuaBundle.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  test-all.sh
  tests/benchmarks/cases/matrix_multiplier.lua
  tests/benchmarks/cases/matrix_multiplier_no_internal_clock.lua
  tests/test_basic_signal/main.lua
  tests/test_bitvec_signal/main.lua
  tests/test_chdl_write_api/main.lua
  tests/test_chdl_write_api/top.sv
  tests/test_chdl_write_api/xmake.lua
  tests/test_force_release_coalesce/main.lua
  tests/test_handles/main.lua
  tests/test_handles/top.sv
  tests/test_set_value/main.lua
  tests/xmake.lua
  xmake.lua
Due: format-lua, lsp-check-lua

feat(chdl): keep set_cached and set_imm_cached as canonical write APIs
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  src/gen/gen_chdl_access.py
  src/lua/verilua/handles/ChdlAccessDouble.lua
  src/lua/verilua/handles/ChdlAccessMulti.lua
  src/lua/verilua/handles/ChdlAccessSingle.lua
  tests/test_chdl_write_api/main.lua
Due: format-lua, lsp-check-lua

feat(chdl): add force_hex_str for values wider than 64 bits
  CHANGELOG.md
  docs/reference/data_structure/callable_hdl.mdx
  docs/reference/data_structure/proxy_table_handle.mdx
  src/lua/verilua/LuaDut.lua
  src/lua/verilua/handles/LuaCallableHDL.lua
  src/lua/verilua/vpiml/VpimlNormal.lua
  tests/test_chdl_write_api/main.lua
  tests/test_handles/main.lua
Due: format-lua, lsp-check-lua

chore: release v4.0.0
  CHANGELOG.md
  VERSION
Due: none

style: wrap the over-long install_other_libs retry log line
  xmake.lua
Due: format-lua, lsp-check-lua

refactor(xmake): rename verilua.version_required to verilua.require_version
  CHANGELOG.md
  docs/reference/xmake_params.mdx
  scripts/xmake/rules/verilua/xmake.lua
  src/lua/meta.lua
Due: format-lua, lsp-check-lua

chore: update VERSION
  VERSION
Due: none

fix(sv): report type coverage in SVBuilder generated final block
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

refactor(utils): back StrBitsUtils big-number ops with Rust bigint_ffi
  .github/workflows/regression.yml
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  conanfile.py
  docs/reference/str_bits_utils.mdx
  src/bigint_ffi/Cargo.toml
  src/bigint_ffi/src/lib.rs
  src/bigint_ffi/xmake.lua
  src/lua/verilua/utils/LibGMP.lua
  src/lua/verilua/utils/StrBitsUtils.lua
  tests/test_libgmp.lua
  tests/test_str_bits_utils.lua
  xmake.lua
Due: format-lua, lsp-check-lua

chore: update CHANGELOG [skip-ci]
  CHANGELOG.md
Due: none

feat(sv): dump failing SVBuilder lint input to /tmp
  CHANGELOG.md
  docs/reference/sv_builder.mdx
  src/lua/verilua/sv/SVBuilder.lua
  tests/test_sv_builder.lua
Due: format-lua, lsp-check-lua

feat(xmake): support multiple user config files
  CHANGELOG.md
  docs/how-to-guides/write_xmake_lua.mdx
  docs/reference/global_configuration.mdx
  docs/reference/xmake_params.mdx
  examples/guided_tour/extra_cfg.lua
  examples/guided_tour/main.lua
  examples/guided_tour/xmake.lua
  scripts/xmake/rules/verilua/xmake.lua
Due: format-lua, lsp-check-lua

docs: add verilua-guide skill mapping docs, examples, and source layout
  .agents/skills/verilua-guide/SKILL.md
Due: none

Path conditions:
  format-lua: any of: \.(lua)$
  lsp-check-lua: any of: \.(lua)$
  format-cpp: any of: \.(cpp|hpp|h|c)$
